.lesuorac_slider .outer_container {
  overflow: hidden;
  margin: 0 auto;
}
.lesuorac_slider .outer_container .inner_container {
  display: flex;
}
.lesuorac_slider .outer_container .no_transition {
  transition: none !important;
}
.lesuorac_slider .one_slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.lesuorac_slider .one_slide img {
  width: 100%;
}
.lesuorac_slider .navs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lesuorac_slider .navs > a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid #777777;
  border-radius: 50%;
  background-color: #f1f1f1;
  color: #777777;
}
.lesuorac_slider .navs > a:hover {
  background-color: #ddd;
}
.lesuorac_slider .navs .dots_block .dot {
  text-decoration: none;
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 50%;
  border: 2px solid #777777;
  color: #000;
  padding: 8px 8px;
}
.lesuorac_slider .navs .dots_block .dot:hover {
  background-color: #ddd;
}
.lesuorac_slider .navs .dots_block .dot:not(:last-child) {
  margin-right: 10px;
}
.lesuorac_slider .navs .dots_block .active {
  background-color: #777777;
  pointer-events: none;
}
.lesuorac_slider .navs .prev_slide {
  margin-right: 20px;
}
.lesuorac_slider .navs .next_slide {
  margin-left: 20px;
}
.lesuorac_slider .navs .disabled {
  pointer-events: none;
  opacity: 0.5;
}
.lesuorac_slider .no_click a {
  pointer-events: none;
}
